Nama:

In [1]:
print("Hanun Masitha Ramadhani")

Hanun Masitha Ramadhani

(1) Gunakan X_train_final, X_test_final, y_train, dan y_test yang telah Anda buat pada HOA-4

In [2]:
import pandas as pd
df_employee = pd.read_csv('employee_missing.csv')
df_employee

,Unnamed: 0,EmployeeNumber,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,1,Yes,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,...,1,80,0,8,0,1,6,4,0,5
1,1,2,No,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,...,4,80,1,10,3,3,10,7,1,7
2,2,3,Yes,37,Travel_Rarely,1373,Research & Development,2,2,Other,...,2,80,0,7,3,3,0,0,0,0
3,3,4,No,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,...,3,80,0,8,3,3,8,7,3,0
4,4,5,No,27,Travel_Rarely,591,Research & Development,2,1,Medical,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935,2935,2936,No,36,Travel_Frequently,884,Research & Development,23,2,Medical,...,3,80,1,17,3,3,5,2,0,3
2936,2936,2937,No,39,Travel_Rarely,613,Research & Development,6,1,Medical,...,1,80,1,9,5,3,7,7,1,7
2937,2937,2938,No,27,Travel_Rarely,155,Research & Development,4,3,Life Sciences,...,2,80,1,6,0,3,6,2,0,3
2938,2938,2939,No,49,Travel_Frequently,1023,Sales,2,3,Medical,...,4,80,0,17,3,2,9,6,0,8
2939,2939,2940,No,34,Travel_Rarely,628,Research & Development,8,3,Medical,...,1,80,0,6,3,4,4,3,1,2

In [3]:
df_employee = df_employee.drop(["Over18", 'Unnamed: 0'], axis=1)

In [ ]:
employee_number = df_employee.select_dtypes(include = 'number')

imputer_knn = KNNImputer(n_neighbors=5)
imputer_result = imputer_knn.fit_transform(employee_number)

imputer_result = pd.DataFrame(imputer_result)
imputer_result.columns = employee_number.columns

print("imputation on MonthlyIncome")

sns.histplot(employee_number['MonthlyIncome'], alpha=0.2, kde=True)
sns.histplot(imputer_result['MonthlyIncome'], alpha=0.2, kde=True, color='red')
plt.legend(['pre', 'post'])
plt.show()
print('pre: mean: {}, std: {}'.format(np.mean(employee_number['MonthlyIncome']), 
                                      np.std(employee_number['MonthlyIncome'])))
print('post: mean: {}, std: {}'.format(np.mean(imputer_result['MonthlyIncome']), 
                                      np.std(imputer_result['MonthlyIncome'])))

sscaler = StandardScaler()
scaler_result = sscaler.fit_transform(imputer_result)

scaler_result = pd.DataFrame(scaler_result)
scaler_result.columns = employee_number.columns

employee_number = scaler_result.copy()

(2) Lakukan cross validation (k=4) menggunakan estimator logistic regression pada X_train_final dan y_train untuk menentukan hyperparameter 'penalty' yang optimal.

(3) Buat learning alg. dengan menggunakan penalty optimal. Fit trainset ke learning alg. ini.

(4) Plot ROC-AUC curve. Plot precision-recall curve (threshold pada axis-x, precision dan recall pada axis-y). Tentukan threshold optimal untuk model classifier yang telah Anda buat.

(5) Hitung performance model Anda dengan menggunakan trainset dan testset:roc-auc-score, recall, precision, dan fpr.